@font-face {
    font-family: "myfont";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/FontdinerSwanky-Regular.ttf");
}
@font-face {
    font-family: "Sigmar";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/SigmarOne-Regular.ttf");
}

@font-face {
    font-family: "myfont2";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/MeriendaOne-Regular.ttf");
}

@font-face {
    font-family: "myfont3";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/LuckiestGuy-Regular.ttf");
}